.highlight pre .hll { background-color: #404040 }
.highlight pre  { background: #202020; color: #FAFAFA }
.highlight pre .c { color: #C3A7FF} /* Comment */
.highlight pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight pre .esc { color: #FAFAFA} /* Escape */
.highlight pre .g { color: #FAFAFA} /* Generic */
.highlight pre .k { color: #97FF81} /* Keyword */
.highlight pre .l { color: #FAFAFA } /* Literal */
.highlight pre .n { color: #FAFAFA } /* Name */
.highlight pre .o { color: #FAFAFA } /* Operator */
.highlight pre .x { color: #FAFAFA } /* Other */
.highlight pre .p { color: #FAFAFA } /* Punctuation */
.highlight pre .cm { color: #C3A7FF} /* Comment.Multiline */
.highlight pre .cp { color: #cd2828} /* Comment.Preproc */
.highlight pre .c1 { color: #C3A7FF} /* Comment.Single */
.highlight pre .cs { color: #e50808; } /* Comment.Special */
.highlight pre .gd { color: #d22323 } /* Generic.Deleted */
.highlight pre .ge { color: #FAFAFA} /* Generic.Emph */
.highlight pre .gr { color: #d22323 } /* Generic.Error */
.highlight pre .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight pre .gi { color: #589819 } /* Generic.Inserted */
.highlight pre .go { color: #cccccc } /* Generic.Output */
.highlight pre .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight pre .gs { color: #FAFAFA} /* Generic.Strong */
.highlight pre .gu { color: #ffffff} /* Generic.Subheading */
.highlight pre .gt { color: #d22323 } /* Generic.Traceback */
.highlight pre .kc { color: #97FF81} /* Keyword.Constant */
.highlight pre .kd { color: #97FF81} /* Keyword.Declaration */
.highlight pre .kn { color: #97FF81} /* Keyword.Namespace */
.highlight pre .kp { color: #97FF81 } /* Keyword.Pseudo */
.highlight pre .kr { color: #97FF81} /* Keyword.Reserved */
.highlight pre .kt { color: #97FF81} /* Keyword.Type */
.highlight pre .ld { color: #FAFAFA } /* Literal.Date */
.highlight pre .m { color: #f0ffff  } /* Literal.Number */
.highlight pre .s { color: #ff9bde } /* Literal.String */
.highlight pre .na { color: #bbbbbb } /* Name.Attribute */
.highlight pre .nb { color: #24909d } /* Name.Builtin */
.highlight pre .nc { color: #447fcf} /* Name.Class */
.highlight pre .no { color: #40ffff } /* Name.Constant */
.highlight pre .nd { color: #ffa500 } /* Name.Decorator */
.highlight pre .ni { color: #FAFAFA } /* Name.Entity */
.highlight pre .ne { color: #bbbbbb } /* Name.Exception */
.highlight pre .nf { color: #447fcf } /* Name.Function */
.highlight pre .nl { color: #FAFAFA } /* Name.Label */
.highlight pre .nn { color: #447fcf} /* Name.Namespace */
.highlight pre .nx { color: #FAFAFA } /* Name.Other */
.highlight pre .py { color: #FAFAFA } /* Name.Property */
.highlight pre .nt { color: #97FF81} /* Name.Tag */
.highlight pre .nv { color: #40ffff } /* Name.Variable */
.highlight pre .ow { color: #97FF81} /* Operator.Word */
.highlight pre .w { color: #666666 } /* Text.Whitespace */
.highlight pre .mb { color: #f0ffff  } /* Literal.Number.Bin */
.highlight pre .mf { color: #f0ffff  } /* Literal.Number.Float */
.highlight pre .mh { color: #f0ffff  } /* Literal.Number.Hex */
.highlight pre .mi { color: #f0ffff  } /* Literal.Number.Integer */
.highlight pre .mo { color: #f0ffff  } /* Literal.Number.Oct */
.highlight pre .sb { color: #ff9bde } /* Literal.String.Backtick */
.highlight pre .sc { color: #ff9bde } /* Literal.String.Char */
.highlight pre .sd { color: #ff9bde } /* Literal.String.Doc */
.highlight pre .s2 { color: #ff9bde } /* Literal.String.Double */
.highlight pre .se { color: #ff9bde } /* Literal.String.Escape */
.highlight pre .sh { color: #ff9bde } /* Literal.String.Heredoc */
.highlight pre .si { color: #ff9bde } /* Literal.String.Interpol */
.highlight pre .sx { color: #ffa500 } /* Literal.String.Other */
.highlight pre .sr { color: #ff9bde } /* Literal.String.Regex */
.highlight pre .s1 { color: #ff9bde } /* Literal.String.Single */
.highlight pre .ss { color: #ff9bde } /* Literal.String.Symbol */
.highlight pre .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #40ffff } /* Name.Variable.Class */
.highlight pre .vg { color: #40ffff } /* Name.Variable.Global */
.highlight pre .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight pre .il { color: #f0ffff  } /* Literal.Number.Integer.Long */

New Green => #97FF81
New Pink  => #ff9bde
New Numbers Azure => #f0ffff 
New Comments => #C3A7FF

Numbers => Blue #3677a9
Strings Orange #ed9d13