@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Work+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');


/*
h2 {background-color: #00ff00;border-style: solid; border-width: 2px; border-color: #395c82;}
p {background-color: #f5f5f5;}
*/

body{
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:1.40;
	color:#202020;
	background-color:#ffffff;
	max-width:1225px;
	/*text-align: justify;*/
	border-color:#C8C8C8;
	border-radius:1px;
}


body { 
    background: url("../images/Background/lil_fiber.png"); 
	background-color:#F9F9F9;
}


code {
	font-family:"Roboto Mono","Ubuntu Mono","DejaVu Sans Mono",monospace;
	font-size:14px;
	line-height:1.20;
	color:#cc0000;
	background-color:#FDFDFD;
	max-width:1225px;
	border-color:#383838;
	border-radius:2px;
}


kbd, pre, samp {
    font-size:14px; 
	font-family:"Roboto Mono","Ubuntu Mono","Hack",monospace; 
	color:#c7254e;
	background-color:#f9f2f4;
	border-radius:2px
}


.table-bordered th, .table-bordered td { 
	border: 1px solid #333!important 
} 





/***** formatting hyperlinks **************************************************/

/* unvisited link */
a:link {color:#3677A9;}

/* visited link */
a:visited {color: #B975B9;}

/* mouse over link */
a:hover {color:#3677A9; text-decoration: underline}

/* selected link */
a:active {color: #B975B9;}
